html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.header{
    background-color: transparent;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #EDEDED;
    font-size: 12;
    font-weight: 500;
    line-height: 1.1;
}

.header__inner{
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    display: flex;
    gap: 20px;
}

.menu__list-link{
    color: white;
    font-size: 14;
}

.footer{
    padding: 30px 0 29px;
    color: #282828;
    font-size: 14px;
}

.footer__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__menu-list{
    max-width: 250px;
}

.footer__menu-item + .footer__menu-item{
    padding-top: 8px;
}

.footer__social-link{
    padding-top: 18px;
}

.footer__menu-item{
    display: flex;
    align-items: center;
}

.footer__menu-img{
    padding-right: 10px;
}

.main{
    flex-grow: 1;
}

.top{
    padding-top: 240px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}

.title{
    color: #FFFFFF;
    padding-bottom: 60px;
}

.title1{
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

.title2{
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    color: #FFC700;
}

.title3{
    font-size: 96px;
    font-weight: 900;
    line-height: 117px;
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-transform: uppercase;
}

.top__link{
    max-width: 230px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 60px;
    padding: 16px 53px;
    display: inline-block;
    font-weight: 700;
    color: #FFFFFF;
}

.show{
    height: 100vh;
}

.swiper{
    z-index: 5;
    left: 0;
    right: 0;
}

.swiper-slide{
    max-width: 360px;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-pagination{
    position: initial;
}

.video{
    border-radius: 10px;
    max-width: 360px;
}