html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.header{
    background-color: transparent;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}

/* .header-main{
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
} */

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #EDEDED;
    font-size: 12;
    font-weight: 500;
    line-height: 1.1;
}

.header__inner{
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    display: flex;
    gap: 20px;
}

.menu__list-link{
    color: white;
    font-size: 14;
}

.footer{
    padding: 30px 0 29px;
    color: #282828;
    font-size: 14px;
}

.footer__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__menu-list{
    max-width: 250px;
}

.footer__menu-item + .footer__menu-item{
    padding-top: 8px;
}

.footer__social-link{
    padding-top: 18px;
}

.footer__menu-item{
    display: flex;
    align-items: center;
}

.footer__menu-img{
    padding-right: 10px;
}

.main{
    flex-grow: 1;
}

.top{
    padding-top: 240px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}

.title{
    color: #FFFFFF;
    padding-bottom: 60px;
}

.title1{
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

.title2{
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    color: #FFC700;
}

.title3{
    font-size: 96px;
    font-weight: 900;
    line-height: 117px;
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-transform: uppercase;
}

.top__link{
    max-width: 230px;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 60px;
    padding: 16px 53px;
    display: inline-block;
    font-weight: 700;
    color: #FFFFFF;
}

.show{
    height: 100vh;
}

.swiper{
    z-index: 5;
    left: 0;
    right: 0;
}

.swiper-slide{
    max-width: 360px;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-pagination{
    position: initial;
}

.video{
    border-radius: 10px;
    max-width: 360px;
}

.contact {
    width: auto;
    height: auto;
}  
.contact_content {
    width: auto;
    background-image: url(/images/contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 160px;
    position: relative;
    height: 640px;
}

.contact_form {
    max-width: 560px;
    position: absolute;
    right: 160px;
    padding: 0px 95px;
    backdrop-filter: blur(20px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}
.main {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
}

.other {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffc700;
    background: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 360px;

}
::-webkit-input-placeholder {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}
::-moz-placeholder {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}
:-moz-placeholder {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}
:-ms-input-placeholder {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}

input {
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}

#tel {
    margin-top: 45px;
}

#mail {
    margin-top: 45px;
}

.btn {
    margin-top: 60px;
}

button {
    padding: 15px 62px;
    border-radius: 60px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #0287c5;
    cursor: pointer;
    transition: 0.5s ease all;
}

button:hover {
    transition: 0.5s ease all;
    color: #FFFFFF;
    background: linear-gradient(92.71deg, #0287c5 0%, #13928e 100%);
}

.galary {
    width: auto;
    height: auto;
    padding: 50px 20px;
    background-color: white;
}
  
.galary_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 100px;
    padding: 0px 160px;
    background-color: white;
}
  
.title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: blue
}
  
.galary_more a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    color: black;
}

.galary_content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 10vw);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
  
.gallery__item {
    padding: 0;
    margin: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(.jpg);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    width: auto;
    height: auto;
}

img {
    transition: 0.5s all ease;
} 

img:hover {
transform: scale(1.05);
transition: 0.5s all ease;
}
  
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
  
.gallery__item--1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
  
.gallery__item--2 {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 3;
}
  
.gallery__item--3 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}
  
.gallery__item--4 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
}
  
.gallery__item--5 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}
  
.gallery__item--6 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}
  
.gallery__item--7 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}
  
.gallery__item--8 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 6;
}

h1 {
    text-align: center;
    color: #0287c5;
    padding: 15px;
}

.gaalary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.container img {
    max-width: 350px;
    transform: none;
}